<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 SuicSoft / SuiciStudios(tm).
  ~
  ~ Author : Suici Doga (suiciwd@gmail.com , suiciwd@gmail.com)  / contributors
  ~
  ~ Contact : suiciwd@gmail.com , suiciwd@outlook.com , https://gitter.im/SuicSoft/SuicSoft
  ~
  ~ Website : http://suicsoft.com , http://suicsoft.github.io
  ~
  ~ App created and programmed by SuicSoft, designed by SuiciStudios (SuicSoft).
  ~
  ~ License :
  ~
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suicsoft.software.littlespdfmerge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.suicsoft.software.littlespdfmerge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suicsoft.software.littlespdfmerge.MainActivity" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
